In [50]:
import pandas as pd

In [51]:
df=pd.read_csv(r"C:/Users/Hemant/Desktop/DSBDA/Heart.csv")

In [52]:
df.describe()

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000
mean,152.000000,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241
std,87.612784,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438
min,1.000000,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,76.500000,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,152.000000,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,227.500000,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,303.000000,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

In [4]:
df.describe()

,Unnamed: 0,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,299.000000
mean,152.000000,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.672241
std,87.612784,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.937438
min,1.000000,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,76.500000,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,152.000000,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,227.500000,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,303.000000,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000

In [53]:
df.isna().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [54]:
df['Ca']=df['Ca'].fillna(0)

In [55]:
df['Thal']=df['Thal'].fillna(df['Thal'].mean)

In [56]:
df.isna().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            0
Thal          0
AHD           0
dtype: int64

In [57]:
dupl=df[df.duplicated()]

In [58]:
dupl.shape

(0, 15)

In [60]:
df=df.drop_duplicates()

In [61]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [62]:
df.columns

Index(['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'AHD'],
      dtype='object')

In [64]:
from sklearn.preprocessing import LabelEncoder
Label=LabelEncoder()

In [65]:
df

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,0.0,normal,No

In [66]:
df['AHD']=Label.fit_transform(df['AHD'])

In [67]:
df

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,0
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,1
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,1
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,0
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,1
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,1
300,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,1
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,1
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,0.0,normal,0

In [68]:
def remove_outliers(column):
    Q1=column.quantile(0.25)
    Q3=column.quantile(0.75)
    C=Q3-Q1
    threshhold=1.5*C
    outlier_mask=(column<Q1-threshhold)|(column>Q3+threshhold)
    return column[~outlier_mask]

In [70]:
col_name=['Age', 'Sex', 'RestBP']
for col in col_name:
    df[col]=remove_outliers(df[col])

In [72]:
df.describe()

,Age,Sex,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,AHD
count,303.000000,303.000000,294.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.438944,0.679868,130.163265,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.663366,0.458746
std,9.038662,0.467299,15.440093,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.934375,0.499120
min,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,0.000000
75%,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,1.000000
max,77.000000,1.000000,170.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,1.000000

In [73]:
from sklearn.model_selection import train_test_split

In [84]:
x=df[['Age', 'Sex', ]]

In [85]:
y=df.AHD

In [86]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [87]:
x_train.shape

(227, 2)

In [88]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()

In [89]:
dt.fit(x_train,y_train)

DecisionTreeClassifier()

In [90]:
pred=dt.predict(x_train)

In [91]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [92]:
accuracy_score(pred,y_train)

0.7577092511013216

In [5]:
df.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs',
       'RestECG', 'MaxHR', 'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'AHD'],
      dtype='object')

In [6]:
#Data Cleaning

In [7]:
df.isna().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [8]:
df['Ca']=df['Ca'].fillna(0)

In [9]:
df.isna().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            0
Thal          2
AHD           0
dtype: int64

In [10]:
df['Thal']=df['Thal'].fillna(0)

In [11]:
df['Thal']=df['Thal'].fillna(df['Thal'].mean)

In [12]:
df.isna().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            0
Thal          0
AHD           0
dtype: int64

In [13]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [14]:
df

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,0.0,normal,No

In [15]:
duplicate_row=df[df.duplicated()]
print (duplicate_row.shape)

(0, 14)

In [16]:
#to drop duplicates
df.duplicated() 
print (duplicate_row.shape)

(0, 14)

In [17]:
#Data Integration

In [18]:
subset1=df[[ 'Age', 'Sex', 'ChestPain']].loc[0:15]
subset2=df[[ 'Age', 'Sex', 'ChestPain']].loc[20:40]

In [19]:
subset1

    Age  Sex     ChestPain
0    63    1       typical
1    67    1  asymptomatic
2    67    1  asymptomatic
3    37    1    nonanginal
4    41    0    nontypical
5    56    1    nontypical
6    62    0  asymptomatic
7    57    0  asymptomatic
8    63    1  asymptomatic
9    53    1  asymptomatic
10   57    1  asymptomatic
11   56    0    nontypical
12   56    1    nonanginal
13   44    1    nontypical
14   52    1    nonanginal
15   57    1    nonanginal

In [20]:
concat=pd.concat([subset1,subset2])

In [21]:
concat

    Age  Sex     ChestPain
0    63    1       typical
1    67    1  asymptomatic
2    67    1  asymptomatic
3    37    1    nonanginal
4    41    0    nontypical
5    56    1    nontypical
6    62    0  asymptomatic
7    57    0  asymptomatic
8    63    1  asymptomatic
9    53    1  asymptomatic
10   57    1  asymptomatic
11   56    0    nontypical
12   56    1    nonanginal
13   44    1    nontypical
14   52    1    nonanginal
15   57    1    nonanginal
20   64    1       typical
21   58    0       typical
22   58    1    nontypical
23   58    1    nonanginal
24   60    1  asymptomatic
25   50    0    nonanginal
26   58    0    nonanginal
27   66    0       typical
28   43    1  asymptomatic
29   40    1  asymptomatic
30   69    0       typical
31   60    1  asymptomatic
32   64    1    nonanginal
33   59    1  asymptomatic
34   44    1    nonanginal
35   42    1  asymptomatic
36   43    1  asymptomatic
37   57    1  asymptomatic
38   55    1  asymptomatic
39   61    1    nonanginal
40   65    0  asymptomatic

In [22]:
#Data Transformation

In [23]:
from sklearn.preprocessing import LabelEncoder
Label=LabelEncoder()

In [24]:
df['AHD']=Label.fit_transform(df['AHD'])
df

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,0
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,1
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,1
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,0
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,1
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,1
300,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,1
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,1
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,0.0,normal,0

In [25]:
lel=LabelEncoder()
df['ChestPain']=lel.fit_transform(df['ChestPain'])
df

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,3,145,233,1,2,150,0,2.3,3,0.0,fixed,0
1,67,1,0,160,286,0,2,108,1,1.5,2,3.0,normal,1
2,67,1,0,120,229,0,2,129,1,2.6,2,2.0,reversable,1
3,37,1,1,130,250,0,0,187,0,3.5,3,0.0,normal,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,3,110,264,0,0,132,0,1.2,2,0.0,reversable,1
299,68,1,0,144,193,1,0,141,0,3.4,2,2.0,reversable,1
300,57,1,0,130,131,0,0,115,1,1.2,2,1.0,reversable,1
301,57,0,2,130,236,0,2,174,0,0.0,2,1.0,normal,1
302,38,1,1,138,175,0,0,173,0,0.0,1,0.0,normal,0

In [26]:
#Error Correcting

In [27]:
df.nunique()

Age           41
Sex            2
ChestPain      4
RestBP        50
Chol         152
Fbs            2
RestECG        3
MaxHR         91
ExAng          2
Oldpeak       40
Slope          3
Ca             4
Thal           4
AHD            2
dtype: int64

In [28]:
df['RestECG'].unique()

array([2, 0, 1], dtype=int64)

In [29]:
######

In [30]:
def remove_outliers(column):
    Q1=column.quantile(0.25)
    Q3=column.quantile(0.75)
    IQR=Q3-Q1
    threshhold=1.5*IQR
    outlier_mask=(column<Q1-threshhold)|(column>Q3+threshhold)
    return column[~outlier_mask]

In [49]:
col_name=['Age', 'Sex', 'ChestPain', 'RestBP']
for col in col_name:
    df[col]=remove_outliers(df[col])

In [33]:
df.describe()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,AHD
count,303.000000,303.000000,280.000000,294.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.438944,0.679868,0.664286,130.163265,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.663366,0.458746
std,9.038662,0.467299,0.763042,15.440093,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.934375,0.499120
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,56.000000,1.000000,0.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,0.000000
75%,61.000000,1.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,1.000000
max,77.000000,1.000000,2.000000,170.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,1.000000

In [47]:
#Model Building

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
df.columns

Index(['Age', 'Sex', 'ChestPain', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'Thal', 'AHD'],
      dtype='object')

In [36]:
x=df[['Age', 'Sex', 'Chol']]
y=df.AHD

In [37]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [38]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((227, 3), (76, 3), (227,), (76,))

In [39]:
import numpy as np

In [40]:
from sklearn.tree import DecisionTreeClassifier
tc=DecisionTreeClassifier()
tc.fit(x_train,y_train)
Predict=tc.predict(x_train)

In [41]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [42]:
accuracy_score(Predict,y_train)

0.9911894273127754

In [43]:
confusion_matrix(Predict,y_train)

array([[124,   2],
       [  0, 101]], dtype=int64)

In [44]:
df.dropna(inplace=True)

In [45]:
df.isna().sum()

Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           0
Thal         0
AHD          0
dtype: int64

In [46]:
print (df)

     Age  Sex  ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  Oldpeak  \
1     67    1        0.0   160.0   286    0        2    108      1      1.5
2     67    1        0.0   120.0   229    0        2    129      1      2.6
3     37    1        1.0   130.0   250    0        0    187      0      3.5
4     41    0        2.0   130.0   204    0        2    172      0      1.4
5     56    1        2.0   120.0   236    0        0    178      0      0.8
..   ...  ...        ...     ...   ...  ...      ...    ...    ...      ...
297   57    0        0.0   140.0   241    0        0    123      1      0.2
299   68    1        0.0   144.0   193    1        0    141      0      3.4
300   57    1        0.0   130.0   131    0        0    115      1      1.2
301   57    0        2.0   130.0   236    0        2    174      0      0.0
302   38    1        1.0   138.0   175    0        0    173      0      0.0

     Slope   Ca        Thal  AHD
1        2  3.0      normal    1
2        2  2.0  reversable    1
3        3  0.0      normal    0
4        1  0.0      normal    0
5        1  0.0      normal    0
..     ...  ...         ...  ...
297      2  0.0  reversable    1
299      2  2.0  reversable    1
300      2  1.0  reversable    1
301      2  1.0      normal    1
302      1  0.0      normal    0

[272 rows x 14 columns]